<ul>
      <li>
        <a href = "{{ '/' | relative_url }}">
          Home
        </a>
      </li>

      <li>
        <a href = "{{ 'music/' | relative_url }}">
          Music
        </a>
      </li>

      <li>
        <a href = "{{ 'progs/' | relative_url }}">
          Programs
        </a>
      </li> 

      <li>
        <a href = "{{ 'gif/' | relative_url }}">
          Gif Collection
        </a>
      </li>      
      
      <li>
        <a href = "{{ 'about/' | relative_url }}">
          About
        </a>
      </li>
</ul>