<ul>
      <li>
        <a href = "{{ '/' | relative_url }}">
          home
        </a>
      </li>

      <!-- <li>
        <a href = "{{ 'progs/' | relative_url }}">
          programs
        </a>
      </li>  -->

      <li>
        <a href = "{{ 'music/' | relative_url }}">
          music
        </a>
      </li>

      <li>
        <a href = "{{ 'gif/' | relative_url }}">
          gif collection
        </a>
      </li>      
      
      <!-- <li>
        <a href = "{{ 'news/' | relative_url }}">
          news
        </a>
      </li> -->

      <li>
        <a href = "{{ 'about/' | relative_url }}">
          about
        </a>
      </li>
</ul>