<!doctype html>
<html lang="en">
    <head>
        <script>$(this).load("default.html");</script>
    </head>

    <body>
        <div class="mid-section-home">
            <h1><span>I am </span>{{ site.author_name }}</h1>
            <div class="row sub-heading">
                <div class="summary-about-me">
                    <p>{{ page.home_text }}</p>

                    <img id="socrates" src="/assets/images/socrates.png" alt="soccieboi">
                </div>
                <div class="nav-link">
                    
                </div>
            </div>
        </div>
    </body>
  
</html>
