<!doctype html>
<html lang="en">
    <head>
        <script>$(this).load("/_layouts/default.html");</script>
    </head>

    <body>
        <div class="mid-section-home">
            <h1><span>I am </span> Mikail Kieser </h1>
            <div class="row sub-heading">
                <div class="summary-about-me">
                    <p></p>
                    <img id="socrates" src="/assets/images/socrates.png" alt="soccieboi">
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <script>$(this).load("/includes/navigation.html");</script>
            </nav>
        </div>
    </body>
  
</html>
